<GridLayout columns="*, *, *" height="8%" row="1" class="bottom-navigation">
	<GridLayout col="0" rows="auto, *" class="bottom-navigation-item">
        <Label row="0" class="label"></Label>
        <Label row="1" [text]="'Menu'" class="label"></Label>
    </GridLayout>

    <GridLayout col="1" rows="auto, *" class="bottom-navigation-item">
        <Label row="0" class="fas" style="margin-top: 10px" text="&#xf013;"></Label>
        <Label row="1" class="label"></Label>
    </GridLayout>

    <GridLayout col="2" rows="auto, *" class="bottom-navigation-item">
        <Label row="0" text="&#xf369;" style="color: green" class="fa-brands"></Label>
        <Label row="1" class="label" text="third"></Label>
    </GridLayout>
</GridLayout>